
#smug_upload a {
	background: url('../images/smug.png') no-repeat center left;
	padding-left: 100px;
}

#smug_image_details {
   padding: 10px;
   overflow: hidden;
}

#smug_image_details img {
	float: left;   
}

.smug_image_info {
	float: left;  
}

.smug_image_info li {
	list-style: none;
	margin-bottom: 5px;
}

.smug_image_info li .label {
	
}

.spinner {
	display: block;
	background: url('../images/loading.gif') no-repeat center left;
	padding: 0 0 0 30px;
	margin-bottom: 10px;
}

/* image list */
#smug-images {

}

#smug-images img {
	width: 100px;
	height: 100px;
}

#smug-images .image-data {
    display: none;
}

#result {
	margin-bottom: 10px;
	padding: 3px;
}

/* image search form */
#smug-form {
    
}

#smug-form .smug-form-filter {
    padding: 3px;
    margin: 10px 0;
}

.smug-form-filter input[type=text] {
    width: 200px;
    border: 1px solid #ccc;
    padding: 3px;
}

.smug-form-filter input[type=button] {
   padding: 3px;
   border: 1px solid #ccc;
}

/* pagination */
ul.bootpag {
    list-style: none;
}

ul.bootpag li {
    display: inline;
    margin: 4px;
}














